<a href="{{ product.get_absolute_url }}" class="card" style="text-decoration: none">


    <img height="350px" src="{{ product.get_photo }}" class="card-img-top" alt="...">


    <div class="card-body mt-3" style="height:200px ">
            <h5 class="card-title">{{product.title|truncatechars:50}}</h5>
            <p class="card-text">{{product.content|truncatechars:110}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ product.category }}</li>
        <li class="list-group-item">{{ product.price }}</li>
        <li class="list-group-item">{{ product.created_at }}</li>

    </ul>
</a>