{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}

<div class="d-flex justify-content-center mt-4">
    <div class="col-6 card p-4 bg-dark border-warning">
        <h3 class="text-center text-light">{{ title }}</h3>
        {% if request.user == product.author %}
        <form action="{% url 'update' product.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">
                {% if 'update' in request.path %}
                Изменить
                {% else %}
                Добавить продукт
                {% endif %}


            </button>

        </form>

        {% else %}
        <h3 class="text-light">NOOOOOOOOOOOOO</h3>
        {% endif %}
    </div>


</div>


{% endblock main %}